<tbody>
	<tr class="table-row">
		<td>{{bus.model}}</td>
    <td>{{bus.plate_number}}</td>
    <td>{{bus.arrival}} {{bus.departure}}</td>
    <td>{{bus.seats}}</td>
    <td>{{bus.registered_at}}</td>
    <td>{{bus.type}}</td>
    <td>
     <div class="btn is-group">
          <a href="busses/{{bus.id}}"><button type="submit" class="btn btn-primary btn-sm">
              <i class="fa fa-eye">&nbsp;&nbsp;View</i>
            </button></a>
            <a href="busses/{{bus.id}}/edit"><button type="submit" class="btn btn-success btn-sm">
              <i class="fa fa-edit">&nbsp;&nbsp;Edit</i>
            </button></a>
            <a href="busses/{{bus.id}}/delete"><button type="submit" class="btn btn-danger btn-sm">
              <i class="fa fa-trash">&nbsp;&nbsp;Delete</i>
            </button></a>
          </div>
    </td>
  </tr>
</tbody>