{% extends 'layout.html' %}

{% block body %}

<div class="column">
  <div class="card bg-light mb-3">
    <div class="card-header">
      <h4>Create Schedule</h4>
    </div>
  </div>
   <div class="card bg-light mb-3">
    <div class="card-body">
      <form action="/schedules/create" method="POST">
        {{ form.csrf_token() }}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="driver_id">Driver Name</label>
            <select type="text" name="driver_id" class="form-control">
              <option selected>-Select-</option>
              {% for users in users %}
              <option value="{{users.id}}">{{users.firstname}} {{users.lastname}}</option>
              {% endfor%}
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="conductor_id">Conductor Name</label>
            <select type="text" name="conductor_id" class="form-control">
              <option selected>-Select-</option>
              {% for users in users %}
              <option value="{{users.id}}">{{users.firstname}}  {{users.lastname}}</option>
              {% endfor%}
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="bus_id">Plate Number</label>
            <select type="text" name="bus_id" class="form-control">
              <option selected>-Select-</option>
              {% for bus in bus %}
              <option value="{{bus.id}}">{{bus.plate_number}}</option>
              {% endfor%}
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="departured_at">Departured</label>
            <input class="form-control" type="datetime-local" name="departured_at" id="departured_at">
              <ul class="errors">
                {% for error in form.departured_at.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
          </div>
          <div class="form-group col-md-6">
            <label for="arrived_at">Arrived</label>
            <input class="form-control" type="datetime-local" name="arrived_at" id="arrived_at">
          </div>
          <div class="form-group col-md-6">
            <label for="origin">Origin</label>
            <select type="text" name="origin" class="form-control">
              <option selected>-Select-</option>
              <option > Cavite</option>
              <option > Manila</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="destination">Destination</label>
            <select type="text" name="destination" class="form-control">
              <option selected>-Select-</option>
              <option > Cavite</option>
              <option > Manila</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="amount">Amount</label>
            <input class="form-control" type="text" name="amount" id="amount">
          </div>
          <div class="form-group col-md-6">
            <label for="duration">Duration</label>
            <input class="form-control" type="text" name="duration" id="duration">
          </div>          
            <div class="form-group col-md-6">
            	<label for="status">Status</label>
            	 <select type="text" name="status" class="form-control">
                <option selected>Select</option>
                <option>On going</option>
                <option>Standby</option>
                <option>Cancelled</option>
               </select>
          	</div>
          </div>
          <div class="btn-group">
            <a href="/schedules" class="btn btn-danger btn-sm">
              <i class="fa fa-angle-double-left">&nbsp;&nbsp;Back</i>
            </a>
            <button type="submit" class="btn btn-primary btn-sm" value="submit">
              <i class="fa fa-check-circle">&nbsp;&nbsp;Submit</i>
            </button>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}