<ul class="list-group mt-3">
     <a href="#" class="list-group-item list-group-item-action ">
   Dashboard
  </a>
  <a href="/users" class="list-group-item list-group-item-action">Users</a>
  <a href="/roles" class="list-group-item list-group-item-action">Roles</a>
  <a href="/reservations" class="list-group-item list-group-item-action">Reservation</a>
  <a href="/rooms" class="list-group-item list-group-item-action">Rooms</a>
  <a href="/hotelreservation" class="list-group-item list-group-item-action">Hotel Reservation</a>
  

</ul>	

